 
//Dialog样式
.pro-dialog-box .el-dialog__title {
    line-height: 24px;
    font-size: 18px;
    color: rgba(0,0,0,0.85) !important;
    font-weight:600;
  }
  .pro-dialog-box .el-dialog__body {
    padding: 30px 20px;
    color: rgba(0,0,0,0.65) !important;
    font-size: 18px !important;
    word-break: break-all;
  }
  .pro-dialog-box .el-dialog{
    border-radius: 4px !important;
  }
  .pro-dialog-box .el-button{
    width:100px;
    height:42px;
    border-radius:4px;
    border: 0px !important;
  }
  .pro-dialog-box .el-tag {
    height: 26px;
    line-height: 24px;
    margin-left: 5px;
  }


.dialog-footer-btn-box{
  position: relative;
  display: inline-block;
  width:100px;
  height:42px;
}
.dialog-footer-btn-box .pro-nav-btn-shadow{
    width: 132px;
    height: 72px;
    background-size: 132px 72px;
    top: -8px;
    left: -17px;
  }
  .dialog-footer-btn-box .el-button{
    // position: absolute;
    // left: 0;
    // z-index: 1;
    // top: 0px;
    // color: $yzBule !important;
    font-size: 18px !important;

    background:rgba(255,255,255,1);
    border-radius:8px;
    border:1px solid rgba(103,207,220,1)!important;
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(103,207,220,1);  
  }
  .dialog-footer-btn-box .el-button--primary { 
    background:rgba(103,207,220,1)!important;
    color:rgba(255,255,255,1)!important;
  }
 

.pro-dialog-box .el-dialog__footer {
  padding: 10px 30px 35px 30px !important;

}

